@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
}
:root {
  --ciano: #0bbbb2;
  --cianoHover: #117973;
  --cinzaUm: #575353;
  --cinzaDois: #3b3a3a;
  --cinzaTres: #252424;
  --cinzaClaro: #ccc2c2;
  --azulEscuroUm: #052a47;
  --azulEscuroDois: #031829;
  --verdeHover: #06aa06;
}
html {
  font-size: 62.5%;
}
body {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(45deg, var(--azulEscuroUm), var(--ciano));
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 144rem;
}
.main {
  display: flex;
  justify-self: center;
  justify-content: end;
  max-width: 35rem;
  width: 100%;
  margin: 2rem 1rem 2rem 3rem;
  padding: 3rem;
  border-radius: 5rem;
  background: var(--cinzaDois);
  box-shadow: -2rem 0 0 var(--cinzaTres);
}
.main--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  width: 100%;
}
.main--topo {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 1rem;
  color: var(--cinzaClaro);
}
.main--on-off {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  outline: 0.1rem solid var(--cinzaClaro);
  background-color: black;
}
.ligado {
  background-color: green;
}
.main--tela {
  max-width: 27rem;
  width: 100%;
  height: 10rem;
  border-radius: 2.5rem;
  background: gray;
  box-shadow: 2rem 0 0 var(--cinzaUm);
}
.main--buttons {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, auto);
  justify-content: space-around;
  gap: 0.8rem;
}
.tela {
  display: none;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 10rem;
  padding: 3.5rem 2rem;
  text-align: end;
  border-radius: 2.5rem;
  color: white;
}
.button {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  height: 5.5rem;
  width: 5.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  color: white;
  background: var(--cinzaTres);
  border-bottom: 1rem solid var(--cinzaUm);
  border-left: 1rem solid gray;
}
.button:hover {
  background-color: var(--cinzaDois);
}
.num {
  background: white;
  color: black;
}
.num:hover {
  background-color: var(--cinzaClaro);
}
.color {
  background: green;
  color: white;
}
.color:hover {
  background-color: var(--verdeHover);
}
.underline {
  display: block;
  position: relative;
}
.underline::after {
  content: "";
  position: absolute;
  left: 0.5rem;
  bottom: 0;
  width: 80%;
  height: 0.1rem;
  background: white;
}
.espaco {
  height: 12rem;
  grid-row: 4/6;
  grid-column: 4;
}
.on {
  display: block;
}
.sidebar {
  position: fixed;
  top: 0;
  left: -25rem;
  width: 24rem;
  height: 100%;
  transition: all 0.5s ease;
  box-shadow: 0.5rem 0 2rem black;
  color: white;
  background: var(--azulEscuroDois);
}
.sidebar--texto {
  text-transform: uppercase;
  text-align: center;
  padding: 3rem 0;
  background: var(--azulEscuroUm);
}
.sidebar--titulo {
  margin: 0.5rem 1rem;
  letter-spacing: 0.1rem;
  font-size: 2.3rem;
}
.sidebar--subtitulo {
  font-size: 1.5rem;
  font-weight: 500;
}
.nav--item a {
  display: block;
  letter-spacing: 0.1rem;
  border-top: 0.1rem solid var(--cinzaClaro);
  font-size: 1.6rem;
  padding: 1.3rem 0 1.3rem 3rem;
  color: white;
}
.nav--item:last-child a {
  border-bottom: 0.1rem solid var(--cinzaClaro);
}
.nav--item .opcao:hover {
  padding-left: 4.5rem;
  background-color: whitesmoke;
  color: var(--cianoHover);
}
.nav--item i {
  padding-right: 1rem;
}
.nav--item .selecionado {
  background-color: white;
  color: var(--cianoHover);
}
.menu {
  position: absolute;
  top: 1.5rem;
  right: -7rem;
}
.menu--hamburguer span {
  display: none;
  width: 4.625rem;
  font-size: 3rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  color: white;
  background-color: var(--azulEscuroDois);
}
.menu--hamburguer span:hover {
  background-color: #052a47;
}
body.active .sidebar {
  left: 0;
}
.menu--hamburguer .active-menu {
  display: block;
}

@media screen and (max-height: 620px) and (max-width: 560px) {
  .main {
    margin-top: 7rem;
  }
}

@media screen and (max-width: 430px) {
  .main--tela {
    max-width: 20rem;
  }
  .button {
    font-size: 1.3rem;
    height: 4.5rem;
    width: 4.5rem;
  }
  .espaco {
    height: 10rem;
  }
  .main--buttons {
    margin-top: 1rem;
  }
  .main {
    max-width: 28rem;
  }
  .sidebar {
    left: -23rem;
    width: 22rem;
  }
  .sidebar--titulo {
    font-size: 1.8rem;
  }
  .sidebar--subtitulo {
    font-size: 1.3rem;
  }
  .main--container {
    gap: 2rem;
  }
}

@media screen and (max-width: 320px) {
  .main {
    max-width: 26rem;
    padding: 3rem 2rem;
  }
  .main--tela {
    max-width: 20rem;
  }
  .sidebar {
    left: -20rem;
    width: 19rem;
  }
  .nav--item a {
    padding: 1.3rem 0 1.3rem 1.5rem;
  }
}

@media screen and (max-width: 300px) {
  .main {
    max-width: 23rem;
  }
  .main--tela {
    max-width: 17rem;
  }
  .button {
    font-size: 1.1rem;
    height: 4rem;
    width: 4rem;
  }
}
